@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
	--dark-blue: hsl(240, 38%, 20%);
	--grayish-blue: hsl(240, 18%, 77%);
	--desktop-font-size: 2rem;
	--mobile-font-size: 1.125rem;
}

* {
	box-sizing: border-box;
}

body {
	background-image: url('./images/pattern-bg.svg'),
		url('./images//pattern-curve.svg'), url('./images//pattern-quotes.svg');
	background-repeat: no-repeat;
	/* background-size: 91%, 73%, 14%; */
	background-size: 330px, 278px, 65px;
	background-position: 59% 4%, 6% 104%, 51% 61%;
	background-color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: var(--mobile-font-size);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

img {
	width: 254px;
	height: 252px;
	object-fit: cover;
}

.carousel {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	width: 375px;
	height: 667px;
	/* overflow: hidden; */
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.image-container {
	display: flex;
	justify-content: space-between;
	width: 306px;
	/* overflow: hidden; */
}

.image-div {
	text-align: center;
	padding-top: 54px;
}

.img {
	margin-bottom: 68px;
	border-radius: 8px;
}

.card-body {
	width: 306px;
}

.card-text {
	color: lightslategrey;
}

h5.card-title {
	margin: 0;
	font-size: inherit;
	font-size: 1rem;
}

p.text-muted {
	margin-top: 0;
	color: var(--grayish-blue);
	font-size: 1rem;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 297px;
}

.btn {
	border: none;
	color: #fff;
	padding: 10px 14px;
	cursor: pointer;
}

.btn:focus {
	outline: 0;
}

#left {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#right {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

@media screen and (min-width: 1000px) {
	.carousel {
		flex-direction: row;
		justify-content: center;
		width: 1000px;
		height: 800px;
	}

	.image-container {
		width: 1109px;
		justify-content: center;
	}

	.img {
		grid-area: image;
		width: 536px;
		height: 537px;
		margin-bottom: 0;
	}

	.card-body {
		grid-area: card-body;
		width: 625px;
		height: 278px;
		align-self: center;
		display: grid;
		grid-template-columns: 25% 75%;
		grid-template-areas:
			'para para'
			'name job-title';
	}

	.image-div {
		text-align: left;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: 'card-body image';
		width: 100%;
		height: 537px;
		padding-top: 0;
	}

	.card-text {
		grid-area: para;
		font-size: 35px;
		margin-top: 0;
		margin-bottom: 48px;
	}

	h5.card-title {
		grid-area: name;
		font-size: 22px;
	}

	p.text-muted {
		grid-area: job-title;
		font-size: 22px;
	}
}

/* last so it overrides all other display properties */
.displayNone {
	display: none;
}
