@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
	--dark-blue: hsl(240, 38%, 20%);
	--grayish-blue: hsl(240, 18%, 77%);
	--desktop-font-size: 2rem;
	--mobile-font-size: 1.125rem;
}

* {
	box-sizing: border-box;
}

body {
	background-image: url('./images/pattern-bg.svg'),
		url('./images//pattern-curve.svg'), url('./images//pattern-quotes.svg');
	background-repeat: no-repeat;
	background-size: 472px, 278px, 65px;
	background-position: 49% 32%, 1% 100%, 48% 70%;
	background-color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: var(--mobile-font-size);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

img {
	max-width: 100%;
}

.carousel {
	width: 375px;
	height: 667px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-container {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.image-div {
	text-align: center;
	padding-top: 54px;
}

.img {
	margin-bottom: 68px;
	border-radius: 8px;
}

.card-text {
	color: lightslategrey;
}

h5.card-title {
	margin: 0;
	font-size: inherit;
	font-size: 1rem;
}

p.text-muted {
	margin-top: 0;
	color: var(--grayish-blue);
	font-size: 1rem;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 250px;
	right: 159px;
}

.btn {
	border: none;
	color: #fff;
	padding: 10px 14px;
	cursor: pointer;
}

.btn:focus {
	outline: 0;
}

#left {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#right {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

@media screen and (min-width: 1000px) {
	body {
		background-size: 529px, 278px, 65px;		
		background-position: 90% 49%, 0% 100%, 20% 33%;
	}
	.carousel {
		flex-direction: row;
		justify-content: center;
		width: 83%;
		padding-left: 0;
    padding-right: 0;
	}

	.image-container {
		justify-content: center;
	}

	.img {
		grid-column: 2/4;
    grid-row: 1;
		margin-bottom: 0;
	}

	.image-div {
		text-align: left;
		display: grid;
		grid-template-columns: 52% 8% 40%;
		padding-top: 0;
	}

	.card-body {
		padding-top: 34px;
		grid-column: 1/3;
    grid-row: 1;
	}

	.card-text {
		font-size: 2rem;
		margin-top: 0;
		margin-bottom: 39px;
	}

	h5.card-title {
		font-size: 22px;
		display: inline-block;
		margin-right: 0.5rem;
	}

	p.text-muted {
		font-size: 22px;
		display: inline-block;
	}

	.buttons-container {
		bottom: -20px;
    right: 33%;
	}
}

/* last so it overrides all other display properties */
.displayNone {
	display: none;
}

@media screen and (min-width: 1200px) {
	.card-body {
		padding-top: 157px;
	}
}

@media screen and (min-width: 1350px){
	body {
		background-size: 703px, 367px, 109px;
	}
}

@media screen and (min-width: 1500px) {
	.buttons-container {
		right: 35%;
	}
}

@media screen and (min-width: 1600px) {
	body {
		background-position: 82% 49%, 0% 100%, 20% 33%;
	}
}